<div *ngIf="showBanner()">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">My Diet App</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" #productlist>
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Product List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productdetails" routerLinkActive="active">Add Product</a>
                </li>
                <li class="nav-item" #myproducts>
                    <a class="nav-link" routerLink="/myproducts" routerLinkActive="active">My Products</a>
                </li>
            </ul>
            <div class="username">
                <i class="fa fa-user"></i>
                <label for="inlineFormInputName2">{{username}}</label>
                <button class="btn btn-warning my-2 my-sm-0" (click)="logOut()">Log Out</button>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
