<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to Firebase app!
  </h1>

</div>

<div>
  <button (click)="loginWithGoogle()">Login with Google</button>
</div>

<form #form="ngForm">
  <div *ngIf="showUser">
    <p>You are logged in as
      <b>{{username}}</b>
    </p>
    <button (click)="logOut()">Log Out</button>

    <h3>Products in the database</h3>
    <ul>
      <li class="text" *ngFor="let item of items | async">
        {{item.name}} {{item.fat}} {{item.carbs}} {{item.proteins}}
        <button (click)="deleteProduct(item.key)" type="submit">Delete Product</button>
        <button (click)="editProduct(item)" type="submit">Edit Product</button>
        <button (click)="saveProduct(item)" type="submit" [disabled]="form.invalid">Save Product</button>
      </li>
    </ul>
    <div>
      <label for="name">Name:</label>
      <input #name="ngModel" required type="text" name="name" [(ngModel)]="product.name" id="name">
    </div>
    <div *ngIf="name.invalid && name.dirty">First name is required</div>
    <div>
      <label for="fat">Fat:</label>
      <input #fat="ngModel" required type="text" name="fat" pattern="^[1-9]\d{0,2}(\.\d{3})*(.\d+)?$" [(ngModel)]="product.fat"
        id="fat">
    </div>
    <div *ngIf="fat.invalid && fat.dirty">Fat amount is required and has to be numeric value</div>
    <div>
      <label for="carbs">Carbs:</label>
      <input #carbs="ngModel" required type="text" pattern="^[1-9]\d{0,2}(\.\d{3})*(.\d+)?$" name="carbs" [(ngModel)]="product.carbs"
        id="carbs">
    </div>
    <div *ngIf="carbs.invalid && carbs.dirty">Carbs amount is required and has to be numeric value</div>
    <div>
      <label for="proteins">Proteins:</label>
      <input #proteins="ngModel" required type="text" name="proteins" pattern="^[1-9]\d{0,2}(\.\d{3})*(.\d+)?$" [(ngModel)]="product.proteins"
        id="proteins">
    </div>
    <div *ngIf="proteins.invalid && proteins.dirty">Proteins amount is required and has to be numeric value</div>

    <button (click)="addProduct()" type="submit" [disabled]="form.invalid">Add</button>

    <h3>Add Products to my records</h3>
    
  </div>

</form>