<div style="text-align:center">
        <h1>
          Welcome to Diet app!
        </h1>
      </div>
      
      <div>
        <button (click)="loginWithGoogle()">Login with Google</button>
      </div>
      <div>
        <button (click)="redirect()">Redirect</button>
      </div>
      <div *ngIf="showUser">
        <form #form="ngForm">
          <div class="success">hello</div>
          <p>You are logged in as
            <b>{{username}}</b>
          </p>
          <button (click)="logOut()">Log Out</button>
      
          <h3>Products in the database</h3>
          <ul>
            <li class="text" *ngFor="let item of items | async">
              {{item.name}} {{item.fat}} {{item.carbs}} {{item.proteins}}
              <button (click)="deleteProduct(item.key)" type="submit">Delete Product</button>
              <button (click)="editProduct(item)" type="submit">Edit Product</button>
              <button (click)="saveProduct(item)" type="submit" [disabled]="form.invalid">Save Product</button>
            </li>
          </ul>
          <div>
            <label for="name">Name:</label>
            <input #name="ngModel" required type="text" name="name" [(ngModel)]="product.name" id="name">
          </div>
          <div *ngIf="name.invalid && name.dirty">First name is required</div>
          <div>
            <label for="fat">Fat:</label>
            <input #fat="ngModel" required type="text" name="fat" pattern="^[1-9]\d{0,2}(\.\d{3})*(.\d+)?$" [(ngModel)]="product.fat"
              id="fat">
          </div>
          <div *ngIf="fat.invalid && fat.dirty">Fat amount is required and has to be numeric value</div>
          <div>
            <label for="carbs">Carbs:</label>
            <input #carbs="ngModel" required type="text" pattern="^[1-9]\d{0,2}(\.\d{3})*(.\d+)?$" name="carbs" [(ngModel)]="product.carbs"
              id="carbs">
          </div>
          <div *ngIf="carbs.invalid && carbs.dirty">Carbs amount is required and has to be numeric value</div>
          <div>
            <label for="proteins">Proteins:</label>
            <input #proteins="ngModel" required type="text" name="proteins" pattern="^[1-9]\d{0,2}(\.\d{3})*(.\d+)?$" [(ngModel)]="product.proteins"
              id="proteins">
          </div>
          <div *ngIf="proteins.invalid && proteins.dirty">Proteins amount is required and has to be numeric value</div>
      
          <button (click)="addProduct()" type="submit" [disabled]="form.invalid">Add</button>
        </form>
      
        <form #myform="ngForm">
          <h3>My products</h3>
          <ul>
            <li class="text" *ngFor="let myitem of myitems | async">
              {{myitem.name}} {{myitem.weight}} - {{myitem.date}}
            </li>
          </ul>
          <h4>Add New Product to my list:</h4>
          <div>
            Product:
            <select [(ngModel)]="myproduct.name" name="productname" required>
              <option *ngFor="let prod of items | async" [ngValue]="prod">
                {{prod.name}}
              </option>
            </select>
          </div>
          <div>
            Date:
            <input type="date" name="date" [(ngModel)]="myproduct.date" required/>
          </div>
          <div>
            Weight:
            <input type="number" name="weight" [(ngModel)]="myproduct.weight" required/>
          </div>
          <div>
            <button (click)="addProductToMyList()" type="submit" [disabled]="myform.invalid">Add</button>
          </div>
        </form>
      </div>