<form #myform="ngForm">

    <div class="container">
        <div class="row">
            <h3>My products</h3>
        </div>
        <div class="row rowheader">
            <div class="col">Name</div>
            <div class="col">Weight</div>
            <div class="col">Date</div>
        </div>
        <div class="row" *ngFor="let myitem of myitems | async">
            <div class="col ml-auto">{{myitem.name}}</div>
            <div class="col ml-auto">{{myitem.weight}}</div>
            <div class="col ml-auto">{{myitem.date}}</div>
            <div class="col ml-auto">
                <button (click)="deleteMyProduct(myitem)" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>

            </div>
        </div>
    </div>

    <div class="container" *ngIf="!addProduct">
        <div class="row">
            <button (click)="showAddProduct()" class="btn btn-secondary">Add To List</button>
        </div>
    </div>

    <div class="container addproducts" *ngIf="addProduct">

        <div class="row">
            <h6>Add New Product to my list</h6>
        </div>

        <div class="row">
            <div class="col-md-1">Product:</div>
            <div class="col-md-2">
                <p-dropdown [options]="listOfProducts" [(ngModel)]="selectedProduct" optionLabel="name" name="selectedProduct" [style]="{'width':'192px'}"></p-dropdown>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">Date:</div>
            <div class="col-md-2">
                    <p-calendar [(ngModel)]="myproduct.date" dateFormat="dd/mm/yy" name="date" showButtonBar="true" aria-required="true"></p-calendar>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">Weight:</div>
            <div class="col-md-2">
                    <input type="text" pInputText name="weight" [style]="{'width':'192px'}" [(ngModel)]="myproduct.weight" required>   
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button (click)="addProductToMyList()" class="btn btn-secondary" type="submit" [disabled]="myform.invalid">Add</button>
                <button (click)="cancel()" class="btn btn-secondary">Cancel</button>            
            </div>
        </div>
         
    </div>

</form>