<form #form="ngForm">
        <div class="container">
                <div class="row justify-content-start">
                    <h4>Add New Product</h4>
                </div>
                <div class="row justify-content-start">
                    <div class="col">
                        <label for="name">Name:</label>
                    </div>
                    <div class="col">
                        <input #name="ngModel" required type="text" name="name" [(ngModel)]="product.name" id="name">
                    </div>
                </div>
                <div class="row justify-content-start" *ngIf="name.invalid && name.dirty">First name is required</div>
                <div class="row justify-content-start">
                    <div class="col">
                        <label for="fat">Fat:</label>
                    </div>
                    <div class="col">
                        <input #fat="ngModel" required type="text" name="fat" pattern="^[1-9]\d{0,2}(\.\d{3})*(.\d+)?$" [(ngModel)]="product.fat"
                            id="fat">
                    </div>
                </div>
                <div class="row justify-content-start" *ngIf="fat.invalid && fat.dirty">Fat amount is required and has to be numeric value</div>
                <div class="row justify-content-start">
                    <div class="col">
                        <label for="carbs">Carbs:</label>
                    </div>
                    <div class="col">
                        <input #carbs="ngModel" required type="text" pattern="^[1-9]\d{0,2}(\.\d{3})*(.\d+)?$" name="carbs" [(ngModel)]="product.carbs"
                            id="carbs">
                    </div>
                </div>
                <div class="row justify-content-start" *ngIf="carbs.invalid && carbs.dirty">Carbs amount is required and has to be numeric value</div>
                <div class="row justify-content-start">
                    <div class="col">
                        <label for="proteins">Proteins:</label>
                    </div>
                    <div class="col">
                        <input #proteins="ngModel" required type="text" name="proteins" pattern="^[1-9]\d{0,2}(\.\d{3})*(.\d+)?$" [(ngModel)]="product.proteins"
                            id="proteins">
                    </div>
                </div>
                <div class="row justify-content-start" *ngIf="proteins.invalid && proteins.dirty">Proteins amount is required and has to be numeric value</div>
                <div class="row justify-content-start">
                    <div class="col-md-3">
                        <button class="btn btn-secondary" (click)="saveProduct()" type="submit" [disabled]="form.invalid">Save</button>
                        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>

</form>